name: learning_github_actions
run-name: CI/CD Pipeline for Node.js Application
on:
    push:
        branches: [main,master]
        
        
jobs:
    building:
        name: Build and Test
        runs-on: ubuntu-latest
        container:
            image: node:20-alpine
            options: --user 1001:1001 --workdir /home/node/app
        steps:
        
            - name: Checkoutcode or cloning the repo
              uses: actions/checkout@v3

            - name: installing node js 
              uses: actions/setup-node@v5.0.0
              with:
                    always-auth: true
                    cache: npm
              
            - name: Installing the node modules from package.json
              run: |
                    if [ -f package-lock.json ];
                    then npm ci
                    else npm install
                    fi
                    
            - name: Running the unit tests
              run: npm run test

            - name: Building the frontend
              run: npm run build

          
              
              



              

        

    
